@import "/src/styles/colors";
@import "/src/styles/mixins";

.container {
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  background: $mobileGradient;

  @media screen and (min-width: 568px) {
    padding: calc((229px / 900px) * 100vh) 0 0 0;
    background: $desktopGradient;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 152px auto;
  gap: 24px;
  max-width: 288px;
  margin: 0 auto;

  @media screen and (min-width: 568px) {
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    height: auto;
    max-width: 536px;

    & :first-child {
      grid-row: 1 / 3;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 736px;
  }

  @media screen and (min-width: 1180px) {
    max-width: 1148px;
    gap: 64px 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1280px;
  }
}

.title {
  @include fontFamily(600, 32px);
  text-align: center;

  @media screen and (min-width: 568px) {
    align-self: end;
    text-align: left;
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 42px;
  }

  @media screen and (min-width: 1180px) {
    font-size: 56px;
  }
}
